<div class="top-nav dropdown" style="position: fixed; float: right; right: 150px; ">
    <!-- notificatoin dropdown start-->
    <ul class="nav top-menu" style="border: 1px solid black; position:fixed; background-color: #394a59;">
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle">
                <!--<span class="profile-ava">
                    <img alt="" src="img/avatar1_small.jpg">
                </span>-->

                <span class="username">View Mode</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended">
                <div class="log-arrow-up"></div>
                <li class="eborder-top">
                    <a ng-click="setAll()"><i class=""></i> All </a>
                </li>
                <li>
                    <a ng-click="setMarked()"><i class=""></i> Marked </a>
                </li>
                <li>
                    <a ng-click="setUnmarked()"><i class=""></i> Unmarked </a>
                </li>
            </ul>
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!-- notificatoin dropdown end-->
</div>