.game-green,
.game-red,
.game-blue,
.game-yellow,
.game-gold,
.game-silver,
.game-crystal,
.game-ruby,
.game-sapphire,
.game-emerald,
.game-firered,
.game-leafgreen,
.game-diamond,
.game-pearl,
.game-platinum,
.game-heartgold,
.game-soulsilver,
.game-black,
.game-white,
.game-black2,
.game-white2,
.game-pkmnx,
.game-pkmny,
.game-omegaruby,
.game-alphasapphire {
    width: 100%;
    height: 50px;
    border-width: 2px;
    border-radius: 9px;
    border-style: solid;
    border-color: black;
    font-size: medium;
}

.add-bottom-padding {
    padding-bottom: 15px;
}
.roundedBorder {
    border: 1px solid black;
    border-radius: 3px;
}

.pokemonWrapper,
.abilityWrapper,
.chartWrapper {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
}

.abilityWrapper {
    width: 300px;
    vertical-align: top;
}

.chartWrapper {
    width: 250px;
    text-align: center  ;
}

.pokemonWrapper {
    width: 200px;
    height: 50px;
}

.pokeBall0,
.pokeBall1,
.pokeBall2,
.pokeBall3 {
    margin-top: 13px;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.pokeBall0 {
    background-image: url('/img/dex/pokeball0.png');
}
.pokeBall1 {
    background-image: url('/img/dex/pokeball1.png');
}
.pokeBall2 {
    background-image: url('/img/dex/pokeball2.png');
}
.pokeBall3 {
    background-image: url('/img/dex/pokeball3.png');
}

.pokemonText { 
    margin-top: -15px;
    display: inline-block;
    vertical-align: middle;
}

.abilityBallWrapper {
    width: 30px;
    min-height: 50px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.abilityBallText {
    display: inline-block;

}

.dittobox {
	width: 70px;
	text-align: center;
	vertical-align: middle;
}
.dittoheader {
	vertical-align: middle;
	width: 70px;
	height: 70px;
	text-align: center;
	font-weight: bold;
}
.dittotext {
	width: 100%;
}

.dittoTable {
    border-collapse: collapse;
	vertical-align: middle;

}

.wrapper {
    display: inline-block;
    padding: 15px;
    width: 100%;
}

@media (max-width: 768px) {
    .wrapper {
    }
    .minHeaderHeight{
        height: 120px;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .wrapper {
        margin-top: 60px;
    }
    .minHeaderHeight{
        height: 100px;
        width: 100%;
    }
}