<div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" >
                <!--<span class="profile-ava">
                    <img alt="" src="img/avatar1_small.jpg">
                </span>-->

                <span ng-if="loggedIn" class="username">{{ username }}</span>
                <span ng-if="!loggedIn" class="username">Not logged in</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li ng-if="loggedIn" class="eborder-top">
                    <a href="#/"><i class="icon_profile"></i> My Profile</a>
                </li>
                <li ng-if="loggedIn">
                    <a href="#/logout"><i class="icon_key_alt"></i> Log Out</a>
                </li>
                <li ng-if="!loggedIn">
                    <a href="#/login"><i class="icon_key_alt"></i> Log In</a>
                </li>
                <li ng-if="!loggedIn">
                    <a href="#/register"><i class="icon_key_alt"></i> Register</a>
                </li>
            </ul>
        </li>
        <!-- user login dropdown end -->
    </ul>
    <!-- notificatoin dropdown end-->
</div>