.game-green,
.game-red,
.game-blue,
.game-yellow,
.game-gold,
.game-silver,
.game-crystal,
.game-ruby,
.game-sapphire,
.game-emerald,
.game-firered,
.game-leafgreen,
.game-diamond,
.game-pearl,
.game-platinum,
.game-heartgold,
.game-soulsilver,
.game-black,
.game-white,
.game-black2,
.game-white2,
.game-pkmnx,
.game-pkmny,
.game-omegaruby,
.game-alphasapphire {
    width: 100%;
    height: 50px;
    border-width: 2px;
    border-radius: 9px;
    border-style: solid;
    border-color: black;
    font-size: medium;
}

.add-bottom-padding {
    padding-bottom: 15px;
}

.pokemonWrapper,
.abilityWrapper {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
}

.abilityWrapper {
    width: 300px;
    vertical-align: top;
}

.pokemonWrapper {
    width: 200px;
    height: 50px;
}

.pokeBall0,
.pokeBall1,
.pokeBall2,
.pokeBall3 {
    margin-top: 13px;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.pokeBall0 {
    background-image: url('/img/dex/pokeball0.png');
}
.pokeBall1 {
    background-image: url('/img/dex/pokeball1.png');
}
.pokeBall2 {
    background-image: url('/img/dex/pokeball2.png');
}
.pokeBall3 {
    background-image: url('/img/dex/pokeball3.png');
}

.pokemonText { 
    margin-top: -15px;
    display: inline-block;
    vertical-align: middle;
}

.abilityBallWrapper {
    width: 30px;
    min-height: 50px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.abilityBallText {
    display: inline-block;

}
