<ul class="sidebar-menu">
    <li class="active">
        <a class="" href="#/">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
        </a>
        <a class="" href="#/user/{{ User }}/game/{{ GameName }}" ng-if="GameName">
            <i class="icon_menu"></i>
            <span>{{ GameName }}</span>
        </a>
    </li>

    <li class="sub-menu" ng-if="dexes.length > 0">
        <a href="javascript:;" class="" onclick="hideMenu('dexMenu')">
            <i class="icon_document_alt"></i>
            <span>Pokedex</span>
            <span class="menu-arrow arrow_carrot-right" id="dexMenu-Arrow"></span>
        </a>
        <ul class="" id="dexMenu">
            <li ng-repeat="dex in dexes" style="display: none;">
                <a class="" href="#/user/{{ User }}/game/{{ GameName }}/pokedex/{{ dex.Identifier }}" onclick="hideAll()">{{ dex.Title }}</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu" ng-if="data.Collections.length > 0">
        <a href="javascript:;" class="" onclick="hideMenu('collectionMenu')">
            <i class="icon_desktop"></i>
            <span>Collections</span>
            <span class="menu-arrow arrow_carrot-right" id="collectionMenu-Arrow"></span>
        </a>
        <ul class="" id="collectionMenu">
            <li ng-repeat="coll in data.Collections" style="display: none;">
                <a class="" href="#/user/{{ User }}/game/{{ GameName }}/{{ coll.Identifier }}" onclick="hideAll()">{{ coll.Title }}</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu" ng-if="tools.length > 0">
        <a href="javascript:;" class="" onclick="hideMenu('toolMenu')">
            <i class="icon_table"></i>
            <span>Tools</span>
            <span class="menu-arrow arrow_carrot-right" id="toolMenu-Arrow"></span>
        </a>
        <ul class="sub-menu" id="toolMenu">
            <li ng-repeat="tool in tools">
                <a class="" href="#/user/{{ User }}/game/{{GameName}}{{ tool.Identifier }}" style="display: none;" onclick="hideAll()">{{ tool.Title }}</a>
            </li>
        </ul>
    </li>
</ul>
